:root {
    --neutral-color: #FFFFFF;
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
}

.input_button {
    display: flex;
    justify-content: center;

    gap: 10px;
    margin-bottom: 15px;
}

button {
    background-color: var(--iris-color);
    color: var(--neutral-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    border: 1px solid var(--neutral-color);
    border-radius: 4px;

    transition-duration: 500ms;
}

button:hover,
button:focus {
    background-color: var(--neutral-color);
    color: var(--iris-color);
    border: 1px solid var(--ocean-color);

    transform: scale(1.05);
}

.timer {
    display: flex;
    justify-content: center;

    gap: 25px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 50px;
}